body {
    margin: 0px; 
    padding: 0px;
    width: 100%;
    background-color: rgb(118, 135, 185);
}

header{
    background-color: darkseagreen;
    height: 100px;
    width: 100vw;
}

header h1 {
    margin-right: 20px;
    float: left;
}

nav ul {
    margin-left: 100px;
    padding-top: 29px;
    float: left;
}

nav li {
    display: inline;
    padding: 20px;
}

nav a {
    font-size: 25px;
    text-decoration: none;
}

main {
    margin-top: 30px;
}

.main-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.secondary-section ul li {
    display: inline;
    padding: 225px;
}

.secondary-section ul li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.tertiary-section ul li  {
    display: inline;
    padding: 900px;
}



figcaption {
    width: 200px;
}

footer p {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* div {
    margin-top: 40px; */
/* } */

#username {
    color:rgb(136, 207, 165);
    font-size: 25px;
    display: flex;
    justify-content: right;
    margin-right: 30px;
}

.plate {
    width: 50px;
    height: 50px;
}